<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container content">
        <div class="jumbotron text-lg-center">
            <p style="font-size: 100px">Mission to Mars</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="box-1">
                    <div class="jumbotron">
                        <h1 class="heading">{{mars_dict.news_title}}</h1>
                    </div>
                </div>
            </div>

</body>